<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <script src="cordova.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/app.js"></script>
</head>
<body data-ng-app="NFC" data-ng-controller="AppController">

<ion-pane>
    <ion-header-bar class="bar-royal">
        <h1 class="title">IUT NFC LECTEUR</h1>
        <button class="button button-icon icon ion-android-close" ng-click="clear()" data-ng-if="tag.id"></button>
    </ion-header-bar>
    <ion-content>
        <div data-ng-if="!tag.id">
            <div class="card">
                <div class="item item-text-wrap center">
                    Scan a tag to being.
                </div>
            </div>
        </div>
        <div data-ng-if="tag.id">
            <div class="card">
                <div class="item item-text-wrap">
                    <dl>
                        <dt>Tag Id</dt>
                        <dd>{{ tag.id | bytesToHexString }}</dd>
                        <dt>Tag Type</dt>
                        <dd>{{ tag.type }}</dd>
                        <dt>Max Size</dt>
                        <dd>{{ tag.maxSize }} bytes</dd>
                        <dt>Is Writable</dt>
                        <dd>{{ tag.isWritable }}</dd>
                        <dt>Can Make Read Only</dt>
                        <dd>{{ tag.canMakeReadOnly }}</dd>
                    </dl>
                    <div class="card" data-ng-repeat="record in tag.ndefMessage">
                        <div class="item item-divider">
                            Record {{$index + 1}} <br/>
                        </div>
                        <div class="item item-text-wrap">
                            <dl>
                                <dt>TNF</dt>
                                <dd>{{ record.tnf | tnfToString }}</dd>
                                <dt>Record Type</dt>
                                <dd>{{ record.type | bytesToString }}</dd>
                                <dt ng-if="record.id">Record Id</dt>
                                <dd ng-if="record.id">{{ record.id | bytesToString }}</dd>
                                <dt>Payload</dt>
                                <dd>{{ record | decodePayload }}</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-pane>
</body>
</html>
