<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'">

    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <script src="cordova.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/services.js"></script>
    <script src="js/app.js"></script>
</head>
<body data-ng-app="NFC" data-ng-controller="AppController">

<ion-pane>
    <ion-header-bar class="bar-royal" style="background: #34495e url('img/logo.png') center no-repeat; background-size: 200px;">
        <h1 class="title"></h1>
        <button class="button button-icon icon ion-android-close" ng-click="clear()" data-ng-if="tag.id"></button>
    </ion-header-bar>
    <ion-content>
        <pre style="background: skyblue; color: #FFF;">{{$root.toto}}</pre>
        <pre data-ng-if="$root.error" style="background: tomato; color: #FFF;">{{$root.error}}</pre>
        <pre data-ng-if="$root.success" style="background: springgreen; color: #FFF;">{{$root.success}}</pre>
        <div data-ng-show="nfcIsEnabled">
            <div data-ng-if="!tag.id">
                <div class="card">
                    <div class="item item-text-wrap center">
                        <ul data-ng-if="buildings.length > 0">
                            <li data-ng-repeat="build in buildings">
                                {{build.name}}
                            </li>
                        </ul>
                        <h1 data-ng-if="buildings.length === 0">Aucun building</h1>
                    </div>
                </div>
            </div><div data-ng-if="!tag.id">
                <div class="card">
                    <div class="item item-text-wrap center">
                        En attente du tag...
                    </div>
                </div>
            </div>
            <div data-ng-if="tag.id">
                <div class="card">
                    <div class="item item-text-wrap text-center">
                        <pre>{{building}}</pre>
                    </div>
                </div>
            </div>
        </div>
        <div data-ng-hide="nfcIsEnabled">
            <div class="card">
                <div class="item item-text-wrap center">
                    <p>
                        La fonctionnalité NFC n'est pas disponible ou n'est pas activée sur cet appareil
                    </p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-pane>
</body>
</html>
