@import 'ionic.app.css';

dt {
  float: left;
  font-weight: normal;
  margin-right: 0.25em;
}

dt:after {
  content: ": ";
}

dd {
  font-weight: bold;
}

.center {
  text-align: center;
}

.bloc-warning-nfc {
  .icon-alert-nfc {
    font-size: 40pt;
    color: #ff6633;
  }

  .info-warning-nfc {
    font-weight: bolder;
    text-align: justify;
    font-size: 9pt;
  }
}

.bloc-waiting-tag {
  i {
    font-size: 40pt;
    color: #ff6633;
  }

  p {
    margin-top: 20px;
  }
}

.bloc-not-build {
  i {
    font-size: 40pt;
    color: #ff6633;
  }

  p {
    margin: 20px 0;
  }
}

.bloc-item-building {
  h2 {
    margin-top: 10px;
  }
}
